# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json

jobs:
    quality:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v6
                with:
                    persist-credentials: false

            -   name: Setup Biome
                uses: biomejs/setup-biome@v2

            -   name: Run Biome
                run: biome ci

name: Code quality

on:
    pull_request:
        branches:
            - main
